#myTable {
  border-collapse: collapse;
  width: 100%;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;  /* Add this line */
}

#myTable td, #myTable th {
  width: 100px;  /* Add !important */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#displayText {
  margin-top: 20px;
}

/* Container for the two divs */
body {
  display: flex;
  align-items: flex-start;
}

/* Styles for tableContainer */
#tableContainer {
  width: 50%; /* Or whatever width you want */
  height: 600px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-right: 20px; /* Add right margin to create space between the divs */
}

/* Styles for displayText */
#displayText {
  width: 50%; /* Or whatever width you want */
}

/* Styles to color code the table */
.serious {
  background-color: rgba(255, 0, 0, 0.3); /* gentle red */
}

.slight {
  background-color: rgba(255, 255, 0, 0.3); /* gentle yellow */
}

.missing {
  background-color: rgba(0, 0, 255, 0.3); /* gentle blue */
}

.no-problems {
  background-color: rgba(0, 255, 0, 0.3); /* gentle green */
}
